.App {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust alpha value to make it more opaque */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bullets
{
color:green;
} 



.app {
  text-align: center;
  color: white;
}

.full-width-card {
  height: 900px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.full-width-card h1 {
  font-size: 100px; /* Adjust the font size as needed */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.quarter {
  height: 700px; /* Increased height */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px; /* Adjust the font size as needed */
}

.headline-container {
  text-align: center;
  padding: 20px;
  color: white; /* Adjust text color as needed */
}

.subheadline {
  margin-top: 20px; /* Adjust spacing as needed */
  /font-size: 30px;
}