/* App.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  background-image: url('../public/recipebg.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%; /* Adjust background position to start from 1/4 of the page */
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 1em; /* Adds space on all edges of the app */
  background-color: #f7f7f7; /* Optional: Sets a background color for the app */
}

.inventory-container {
  color: black; /* Set text color to black */
  margin-top: 100px;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  max-width: 78%; /* Set maximum width to 90% of the viewport width */
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Add padding for better spacing */
}

.inventory-table {
  margin-top: 10px; /* Reduce the margin-top for closer proximity to the heading */
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th {
  background-color: #f2f2f2;
  padding: 10px; /* Reduce the padding */
  text-align: center;
  border-radius: 10px; /* Reduce the border-radius */
  font-size: 14px; /* Reduce the font size */

}

.inventory-table tr:nth-child(even) {
  background-color: #ff; /* Set background color for even rows */
}

.inventory-table tr:nth-child(odd) {
  background-color: #F2F6FF; /* Set background color for odd rows */
}

.inventory-table td {
  padding: 10px; /* Adjust padding for better spacing */
  font-size: 14px; /* Keep the font size */
  line-height: 1.2; /* Adjust line height for better readability */
}

.inventory-table tr:hover {
  background-color: #f5f5f5; /* Very light gray */
}

.finalize-button {
  padding: 0; /* Remove padding */
  background-color: transparent; /* Transparent background */
  color: #333; /* Set text color */
  border: none;
  border-radius: 0; /* No border radius */
  cursor: pointer;
  margin-left: 450px;
  margin-right: -410px;
  font-size: 1.4rem; /* Moderate font size */
  font-weight: bold; /* Bold text for emphasis */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.finalize-button:hover {
  text-decoration: underline; /* Underline text */
  color: #555; /* Darker text color on hover */
}

.top-buttons {
  margin-left: 550px;
  display: flex;
  text-align: center; /* Align buttons to the center horizontally */
  margin-top: 10px;
}

/* Styles for status images */
.status-image {
  width: 55px;
  height: auto;
}

.action-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #45a049;
}



.selected-items-box {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.selected-item {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  padding: 3px 8px;
  border-radius: 15px;
}

.selected-item span {
  margin-right: 5px;
}

.selected-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #666;
}

.search-container {
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0 1em;
  border: 1.5px solid #0A1D44; /* Green border */
  border: 1.5px solid #0A1D44; /* Green border */
  border-radius: 10px; /* Rounded borders */
}
.search-container .search-button {
  background-color: #0D2D6B; /* Dark blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.search-container .search-button:hover {
  background-color: #0A1D44; /* Darker blue on hover */
}

.search-input {
  color: #333;
  padding: 0.4em;
  border: 1px solid #4CAF50;
  font-size: 1.5rem;
  border-radius: 25px;
  width: calc(100% - 17.5em);
  margin-right: 1em;
  margin-bottom: 30px;


}


.add-to-search-button {
  padding: 8px 14px;
  min-width: 110px; /* Fixed width */
  height: 25px; /* Fixed height */
  background: linear-gradient(to right, #A9A9A9, #808080);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
    align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  line-height: 1; /* Adjust line height for vertical alignment */

}

.add-to-search-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.search-button {
  margin-left: 470px;
  margin-top: 80px;
  margin-bottom: -60px;
  padding: 10px 20px;

   background: linear-gradient(to right, #5D4E157, #7CB342);


  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.2s;
}

.search-button:hover {
  background-color: #0d47a1;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-top: 1px; /* Moved from previous section */
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px; /* Adjusted width */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px; /* Adjusted margin for better spacing */
  overflow: hidden; /* Ensures content fits within the borders */
  margin-top: 20px; /* Adjusted margin */
  margin-bottom: 20px; /* Adjusted margin */
}

.recipe-image-placeholder {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-info {
  padding: 20px;
}

.recipe-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.recipe-ingredients {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.recipe-time {
  font-size: 1rem;
  color: #777;
}

@media (max-width: 768px) {
  .inventory-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .recipes-container {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .inventory-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .recipes-container {
    margin-top: 10px;
  }
}

.recipe-title,
.recipe-instructions,
.recipe-preparation,
.recipe-ingredients {
  text-align: left;
  font-weight: bold;
}


@media (max-width: 768px) {
  .recipe-card {
    width: calc(50% - 20px); /* Adjusted width for responsiveness */
  }
}

@media (max-width: 480px) {
  .recipe-card {
    width: calc(100% - 40px); /* Adjusted width for responsiveness */
  }
}